body {
	width: 100wh;
	height: 90vh;
	color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
header{
 margin-top: 30px;
 padding: 10px 0px;
 text-align: center;  
 color: #fff;
}

header h1{
  display: inline;
  margin-left: 10px;
  font-size: 65px;
}

/* Search.js */
input[type="text"]{
  border: none;
  width: 80%;
  font-size: 25px;
  outline: none;
  background-color: transparent;
  padding: 12px;
  caret-color: #fff;
  color: #fff;
  font-weight: bold;
}
::placeholder{
  color: #fff;
  opacity: 0.5;
}
.search-area{
  text-align: center;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  padding: 30px 0px;
  display: flex;
  margin-bottom: 80px;
}
.search-btn{
  height: 100%;
  width: 50px;
  white-space: nowrap;
  color: #f3f2f2;
  cursor: pointer;
  background: transparent;
  transition: all .2s ease-out, color .2s ease-out;
  border: none;
  outline: none;
}
.inner-form{
  display: flex;
  width: 100%;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}

.card{
  display: flex;
  flex-direction: column;
  float: left;
  width: 23.5%;
  margin: 0px 50px 100px 50px;
  margin-bottom: 100px;
  color: black;
  background: #fff;
  height: 400px;
  text-align: center;
  padding-bottom: 10px;
}
img{
  border: 40px solid white;
  width: 150px;
  margin: 0 auto;
  height: auto;
}
.info{
  width: 100%;
}
.card h2{
  font-size: 20px;
}
.card h3{
  font-size: 18px;
}
@media only screen and (max-width: 1000px){
  .card{
    width: 70%;
    height: auto;
  }
  img{
    width: auto;
    height: auto;
  }
}
@media only screen and (max-width: 445px){
  .search-area{
    padding: 20px 20px;
  }
}
@media only screen and (max-width: 390px){
  header h1{
    font-size: 40px;
  }
  .fa-book{
    font-size: 40px;
  }
  input[type="text"]{
    font-size: 25px;
  }
  .fa-search{
    font-size: 20px;
  }
}